body {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

.note {
    background-color: grey;
    border: lightcoral  1px solid;
    padding: 10px;
    margin: 10px 0;

}

.note_date {
    color: white;
}

.note_info {
    color: black;
    font-size: 1.5rem;
}



.project_form {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: blue;
    flex-wrap: wrap;
}


.management {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    background-color: lightgrey;
}

.my_lists {
    flex: 1;
    min-width: 400px;
    background-color: lightblue;
}

.create_new_list {
    min-width: 400px;
    background-color: grey;
    flex: 1;
    display: flex;
    flex-direction: column;

}