.chat__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-height: 100%;
    align-items: center;
    
}

.chat__container {
    max-width: 1000px;
    background-color: white;
    border-radius: 4px;
    padding: 40px;
    box-shadow: 5px 5px 14px -4px rgba(0,0,0,0.75);
    overflow: auto;
    height: 400px;
}

.chat__form {
    height: 40px;
}