* {
    box-sizing: border-box
}

a {
    color: white;
}

a:hover {
    color: #fbb844;
}

body {}

.type__nav {
    padding-top: 20px;
}

.link_elements {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Patrick Hand';
    text-transform: uppercase;
    font-size: 1.9rem;

}

.link_element {
    padding: 0 30px;
}



.navbar_elements {
    position: absolute;
    left: auto;
    z-index: 10;
    width: 100%;
    display: flex;
    height: 50px;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 0px 30px;
    margin: 0px 0px;
    transition: all 0.3s linear;
}

.navbar__links {
    display: none;
}

.navbar__hamburger.active {
    height: 100%;
    right: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    width: 300px;
    z-index: 10;
    position: fixed;
    background: rgba(51,51,51, 1);

    box-shadow: 1px 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.inactive {
    transition: all 0.3s linear;
}

.navbar__content {
    transition: all 0.3s linear;
    
}

.navbar__hamburger {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50px;
    bottom: 0px;
    transition: all 0.3s linear;
    

}

.navbar__showHamburger {
    background-color: red;
    
    transition: all 0.3s linear;
    z-index: 10;
}

@media only screen and (min-width: 600px) {
    .navbar__links {
        display: flex;
    }
    .navbar__hamburger {
        display: none;
    }
}

.navbar_element {}

.navbar2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.orangeBtn {
    background-color: #fab845;
}

.popover__center {
    display: flex;
    justify-content: center;
}

.header__btn {
    background-color: red;
    font-size: 1.4rem !important;
    height: 32px;
    color: white !important;
    padding: 0px 10px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.type h3 {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    color: white;
    font-family: 'Indie flower' !important;
    font-size: 1.9rem !important;
    color: white;
    margin: 3 auto;
    /* Gives that scrolling effect as the typing happens */
    margin-bottom: 20px;
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 2.1s steps(50, end), blink-caret .75s step-end infinite;
}

/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

/* The typewriter cursor effect */

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: #fbb844;
    }
}

.hamburger__item {
    padding-top: 20px;
    font-size: 2.5rem;
    /*font-family: 'Patrick Hand' !important;*/

}
.hamburger__item:hover {
    cursor: pointer;
    color: #fbb844;

}
.hamburger__signin {
    display: flex;
    background-color: white;
    border-radius: 4px;
    box-shadow: 5px 5px 14px -4px rgba(0,0,0,0.75);
}
.show__popover {
}
.hamburger__signin__not {
    display: none;
}
.hamburger__items { 
    width: 100%;
    display: flex;
    align-items: flex-start;
    border-left: 1px solid #fbb844;
    padding-left: 20px;
    margin-left: 20px;
    flex-direction: column;
    margin-top: 20px;
    text-transform: uppercase;
}


.bp3-input-group {
    background: none;
    color: none;
    margin: 0 20px;
    margin-top: 5px;
}

.bp3-icon {
    color: white;
}

.bp3-icon-search {
    color: white;

}

.instanote__hamburger {
    width: 80%;
    height: 110px;
}

.instanote__hamburger__div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.bp3-input {
    background: none;
    color: white;
}

.div {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
  }
  .ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 50px;
  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
  .hamRotate180.active {
    transform: rotate(180deg);
  }
  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#fff;
    stroke-width:5.5;
    stroke-linecap:round;
  }
  
  .ham4 .top {
    stroke-dasharray: 40 121;
  }
  .ham4 .bottom {
    stroke-dasharray: 40 121;
  }
  .ham4.active .top {
    stroke-dashoffset: -68px;
  }
  .ham4.active .bottom {
    stroke-dashoffset: -68px;
  }
  